.product-section {
  background-color: #00b140; /* Зеленый фон */
  padding: 140px;
  text-align: center;

  h2 {
    color: white;
    margin-bottom: 30px;
    font-size: 2rem;
  }

  .product-grid {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

    @media (max-width: 768px) {
      justify-content: center;
      margin-top: 50px;
    }
  }

  .product-card {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    width: 250px; /* Фиксированная ширина для карточек */
    margin: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s;

    &:hover {
      transform: translateY(-5px);
    }

    img {
      max-width: 100%;
      height: 150px; /* Фиксированная высота для изображений */
      border-radius: 4px;
    }

    h3 {
      margin: 10px 0 5px;
      color: #333;
      font-size: 1.5rem;
    }

    p {
      color: #666;
      font-size: 1rem;
    }
  }

  @media (max-width: 768px) {
    padding: 60px; /* Reduced padding for smaller screens */
    
    h2 {
      font-size: 1.75rem; /* Smaller font size for the heading */
    }

    .product-card {
      width: 100%; /* Full width for cards on smaller screens */
      max-width: 300px; /* Set a max-width to avoid excessive stretching */
    }

    .product-card h3 {
      font-size: 1.25rem; /* Reduced font size for card titles */
    }

    .product-card p {
      font-size: 0.9rem; /* Reduced font size for card text */
    }
  }

  @media (max-width: 480px) {
    padding: 40px; /* Further reduced padding for extra small screens */

    h2 {
      font-size: 1.5rem; /* Further reduced font size for the heading */
    }

    .product-card {
      padding: 15px; /* Reduced padding for cards */
    }

    .product-card img {
      height: 120px; /* Reduced image height */
    }

    .product-card h3 {
      font-size: 1rem; /* Further reduced font size for card titles */
    }

    .product-card p {
      font-size: 0.8rem; /* Further reduced font size for card text */
    }
  }
}

.product__header {
  display: flex;
  justify-content: center;
  gap: 100px;
  width: 50%;
  margin: 0 auto;
  text-align: left;

  p {
    font-size: 15px;
    color: #ffffff;
  }

  @media (max-width: 768px) {
    flex-direction: column;
    gap: 10px;
    text-align: center;
    width: 100%;
  }

  @media (max-width: 480px) {
    gap: 5px; /* Smaller gap for extra small screens */
    
    p {
      font-size: 14px; /* Slightly reduced font size for text */
    }
  }
}
