*{
    padding: 0;
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

    // border: 1px solid green;
}


.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 28px;
  }

  #root {
    // position: sticky;
    height: 100dvh;
    display: flex;
    flex-direction: column;
    
    footer {
        margin-top: auto;
    }
  }